*{
    margin: 0;
	padding: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

.h-1, .h-2, .h-3, .h-4, .h-5{
    font-weight: 500;
    color: var(--dark-text);
}

.p{
    font-weight: 400;
    color: var(--light-text);
    font-size: var(--font-size-small);
}

.h-1{
    font-size: var(--font-size-big);
}

.h-2{
    font-size: var(--font-size-medium);
}

.h-3{
    font-size: var(--font-size-medium-smaller);
}

.h-5{
    font-size: var(--font-size-small-smaller);
}

.container__quiz{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 60px;
    background-color: var(--light-gray-back);
}

.quiz__title{
    font-size: var(--font-size-big-smaller);
    font-weight: 600;
    line-height: 43.35px;
}

.quiz__subtitle{
    font-size: var(--font-size-small-smaller);
    line-height: 30px;
    margin-bottom: 30px;
}


.container__questions{
    background: white;
    border: solid 1px var(--grey-back);
    border-radius: 4px;
    padding: 30px;
}

.question__item{
    border: solid 1px var(--grey-back);
    border-radius: 4px;
    margin-top: 30px;
}

.container__questions>.question__item:first-child{
    margin-top: 0;
}

.question__item-question{
    background-color: var(--grey-back);
    padding: 43px;
    border-bottom: var(--grey-back);
}

.question__attributes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.question__attributes-title{
    flex-grow: 1;
    margin: 0 45px 0 0;
    line-height: 30px;
}

.question__attributes-interact div{
    display: inline-block;
    line-height: 30px;
}

.question__attributes-interact div:first-child{
    margin-right: 45px;
}


.question__attributes-interact div::before{
    content:  url(/public/images/icons/pencil.svg);
    display: inline-block;
    position: relative;
    width: 25px;
    top: 4px;
}

.question__attributes-interact div:last-child:before{
    content:  url(/public/images/icons/flag.svg);
}

.question_properties{
    display: flex;
    flex-direction: row;
    line-height: 30px;
    margin: 13px 0;
}

.question_properties div:first-child{
    margin-right: 45px;
}

.question__item-unswer{
    padding: 30px 30px 0 30px;
}


.list__style-none{
    list-style-type: none;
    padding-left: 0;
}

.list__title,
.list__item > p{
    margin-bottom: 30px;
}

.list__item > p{
    display: inline-block;
    margin-left: 15px;
}

.input{
    width: 130px;
    height: 40px;
    border: solid 1px var(--grey-back);
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 5px;
    box-shadow: 0px 8px 15px 0px rgba(140, 152, 164, 0.1);
}

.input:active{
    border-color: var(--dark-text);    
}

.button{    
    height: fit-content;
    width: fit-content;
    padding: 8px 25px;
    background-color: var(--light-gray-back);
    margin-right: 20px;
    margin-bottom: 15px;
    border: solid 1px var(--grey-back);
    border-radius: 4px;
    transition: all 0.25s ease-in;
}

.button:hover{
    background-color: var(--grey-back);
}

.button:active{
    background-color: var(--active-button-back);
    color: white;
}


@media(max-width: 768px){
    .container__quiz{
        padding: 30px;
    }
    .container__questions{
        margin-top: 30px;
    }
}

@media(max-width: 576px){
    .container__quiz{
        padding: 15px;
    }
    .container__questions{
        margin-top: 15px;
    }
    .question__attributes{
        flex-direction: column;
    }
}





