/* START LISTCARDS */

.cources__slider{
    margin: 2rem auto;
    width: 1200px; 
    height: 450px;
    overflow: hidden;
    transition: all 0.35s ease;
}

.cources__slider-cards{
    width: 2000px;
    height: 100%;
    display: flex;
}

@media(max-width: 1230px){
    .cources__slider{
        width: 800px;
    }
}

@media(max-width: 830px){
    .cources__slider{
        width: 400px;
    }
}

/* END LISTCARDS */

/* START DOTS */

.dots{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.dot{
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 8px;
    background-color: #ffff;
    opacity: 60%;
    border-radius: 4px;
    display: block;
    caret-color: transparent;
    transition: all 0.25s ease;
  }

  
  .selected,
  .dot:hover{
    width: 20px;
    opacity: 100%;
    filter: drop-shadow(0 0 5px white);   
}

.dot:active{
    filter: drop-shadow(0 0 10px white);
}

/* END DOTS */