:root{
    --blue: #377dff;
    --dark-blue: #21325b;
    --violet: #b253f6;
    --grey-back: #e7e7ec;
    --dark-text: #2f2d51;
    --light-text: #77838f;
    --light-orange: #FFC78B;
    --light-violet: #B8B2FD;
    --dark-gray-70:rgba(47, 45, 81, 0.7);
    --body-background: #F7F9FB;

    --font-size-big: 35px;                  /* 2.1875em  h1 */
    --font-size-medium: 20px;               /* 1.25em  h2 */
    --font-size-medium-smaller: 18px;       /* 1.125em  h3 */
    --font-size-small: 16px;                /* 1em  h4, p */
    --font-size-small-smaller: 14px;        /* 0.875em   h5 */
  } 