*{
    margin: 0;
	padding: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

h1{
    font-size: var(--font-size-big);
}

h2{
    font-size: var(--font-size-medium);
}

h3{
    font-size: var(--font-size-medium-smaller);
}

h5{
    font-size: var(--font-size-small-smaller);
}

h2{
    color: var(--dark-text);
}

h3, p, h5{
    color: var(--light-text);
}

.bold{
    font-weight: 500;
}

.coursers{
    height: fit-content;
    width: 100%;
    padding: 1rem 0;
    background-color: var(--dark-blue);
    text-transform: capitalize;
}

.coursers__background-image{
    height: 100%;
    width: 100%;
    background-image: url('/public/images/block_bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.courses__container{
    height: fit-content;
    width: 100%;
    padding: 4.5rem 0 4.5rem;
}

.courses__title{
    margin: 0 auto 0;
    width: fit-content;
    text-align: center;
}

.courses__title h1,
.courses__title h3{
    color: white;
}

.courses__title h1{
    font-weight: 500;
}

.cources__slider{
    margin: 2rem auto;
    width: 1200px; 
    height: 450px;
    overflow: hidden;
}

.cources__slider-cards{
    width: 2000px;
    height: 100%;
    display: flex;
}

.dots{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.dot{
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 8px;
    background-color: #ffff;
    opacity: 60%;
    border-radius: 4px;
    display: inline-block;
    transition: all 0.25s ease;
  }

  
  .selected,
  .dot:hover{
    width: 20px;
    opacity: 100%;
    filter: drop-shadow(0 0 5px white);   
}

.dot:active{
    filter: drop-shadow(0 0 10px white);
}  


/**/
@media(max-width: 1230px){
    .cources__slider{
        width: 800px;
    }
}

@media(max-width: 830px){
    .cources__slider{
        width: 400px;
    }
}


/* constants */

:root{
    --font-size-big: 2.1875em;                 /* 35px  h1 */
    --font-size-medium: 1.25em;                /* 20px  h2 */
    --font-size-medium-smaller: 1.125em;       /* 18px  h3 */
    --font-size-small: 1em;                    /* 16px  h4, p */
    --font-size-small-smaller: 0.875em;        /* 14px  h5 */
}