* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Jost', sans-serif;
}
.col-8 {
    width: 770px;
}
ul {
    margin: 0;
}
.tabs {
    background-color: white;
    padding-top: 59px;
}
.tabs__menu {
    width: 100%;
    border-bottom: 1px solid #E7E7EC;
}
.tabs__menu ul{
    list-style: none;
    padding-left: 0;
}
.tabs__menu li {
    padding: 1rem 20px;
    transition: border .3s ease;
}
.tabs__menu li:not(:last-child){
    margin-right: 30px;
}
.tabs__menu a{
    text-decoration: none;
    color: #77838F;
    transition: color .3s ease;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}
.tabs__menu li:hover a,
.tabs__menu li.active a{
    color: #2F2D51;
}
.tabs__menu li.active,
.tabs__menu li:hover{
    border-bottom: 3px solid #2F2D51;
}
@media (max-width: 768px) {
    .tabs__menu li:not(:last-child){
        margin-right: 5px;
    }
}
@media (max-width: 575px) {
    .tabs__menu {
        overflow: scroll;
    }
    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
    .tabs__menu ul{
        padding-left: 10px;
    }
}