:root {
  --blue: #377dff;
  --dark-blue: #21325b;
  --violet: #b253f6;
  --grey-back: #e7e7ec;
  --dark-text: #2f2d51;
  --light-text: #77838f;
}

.block-general {
  font-family: 'Jost', sans-serif;
  max-width: 1500px;
  padding: 31px;
  outline-offset: 0px;
  border: 1px solid #E7E7EC;
  box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);
  border-radius: 4px;
}

/* Block nav */

.block-general__nav {
  max-width: 550px;
  margin-left: 1px;
}

.block-nav {
  justify-content: space-between;
}

.nav-link {
  display: block;
  padding: 0;
  padding-right: 15px;
  padding-left: 15px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: var(--light-text);
}

.nav-link__item {
  height: 42px;
}

a.nav-link.active {
  border-bottom: 3px solid var(--dark-text);
}

.nav-link__item:hover,
.nav-link__item:focus {
  color: var(--dark-text);
  border-bottom: 3px solid var(--dark-text);
}

/* Line */

.block-general__line {
  max-width: 1440px;
  height: 1px;
  background: var(--grey-back);
  margin-bottom: 13px;
}

/* Block form */

.block-general__area {
  margin-bottom: 18px;
}

.form-area {
  height: 200px;
  border: 1px solid var(--grey-back);
}

.block-general__input {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

.form-input__items {
  flex: 0 1 700px;
  margin-bottom: 18px;
}

.form-input__items:last-child {
  margin-left: 30px;
}

.form-input {
  border: 1px solid var(--grey-back);
  display: flex;
  height: 60px;
}

label {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--dark-text);
}

.general-form__button {
  width: 280px;
  height: 60px;
  margin-top: 13px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #ffff;
  background: #090761;
  border-radius: 4px;
}

.form-control:focus {
  border: 1px solid var(--grey-back);
  box-shadow: none;
}

@media screen and (max-width: 760px) {
  .block-general__input {
    display: block;
  }

  .form-input__items:last-child {
    margin-left: 0;
  }
}

@media screen and (max-width: 350px) {
  .general-form__button {
    width: 240px;
  }
}